.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root {
  color: white !important;
  border: 0px solid #5762d5 !important;
}

.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff !important;
  border: 0px !important;
  background-color: #5762d5 !important;
}

.MuiPaginationItem-previousNext {
  border: 1px solid #5762d5 !important;
  margin: 0 12px 0 12px !important;
}

.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root.Mui-disabled {
  opacity: 1 !important;
}

.css-1v2lvtn-MuiPaginationItem-root {
  color: white !important;
}
