.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 150px;
  max-width: 250px;
  height: fit-content;
  flex-wrap: wrap;
  width: auto;
  background-color: #4c608533;
  padding: 18px;
  border-radius: 4px;
  font-size: 0.7rem;
}
