.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}

.price {
  font-weight: bold;
}

.description {
  color: rgb(199, 199, 199);
  font-size: 0.65rem;
  font-weight: 100;
}
